/**
* Base Styles
*
*/


/* COLOURS
------------------------------------------------------------------------------------------------------------------------------------- */

// Colours ------------------------------------------------------------------------------------------------------------------------

$color-black:                         #000000;
$color-white:                         #FFFFFF;


/* SPACING
------------------------------------------------------------------------------------------------------------------------------------- */

$spacing:                               20px;


/* BREAKPOINTS
------------------------------------------------------------------------------------------------------------------------------------- */

$mobile:                                    480px;
$tablet-port:                               768px;
$tablet-land:                               1024px;
$desktop:                                   1280px;


/* FONTS
------------------------------------------------------------------------------------------------------------------------------------- */

$font-exo:                             'Exo', sans-serif;