$base-font-size: 16px;
$base-line-height: 16px;

body {
    font-family: $font-exo;
    color: $color-white;
}

h1 {
    @include adjust-font-size-to(50px);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
}

a {
    color: $color-white;
}