/* =============================================================================
    Base Styles Includes
   ========================================================================== */
html, body {
  width: 100%;
  height: 100%;
}

/**
* Base Styles
*
*/
/* COLOURS
------------------------------------------------------------------------------------------------------------------------------------- */
/* SPACING
------------------------------------------------------------------------------------------------------------------------------------- */
/* BREAKPOINTS
------------------------------------------------------------------------------------------------------------------------------------- */
/* FONTS
------------------------------------------------------------------------------------------------------------------------------------- */
body {
  font-family: "Exo", sans-serif;
}

h1 {
  font-size: 1.875em;
  line-height: 1.6em;
}

/* =============================================================================
    Layout Styles Includes
   ========================================================================== */
.container {
  width: 100%;
  background: black;
}

/* =============================================================================
    Module Styles Includes
   ========================================================================== */
