/* =============================================================================
    Base Styles Includes
   ========================================================================== */
html, body {
  width: 100%;
  height: 100%;
}

/**
* Base Styles
*
*/
/* COLOURS
------------------------------------------------------------------------------------------------------------------------------------- */
/* SPACING
------------------------------------------------------------------------------------------------------------------------------------- */
/* BREAKPOINTS
------------------------------------------------------------------------------------------------------------------------------------- */
/* FONTS
------------------------------------------------------------------------------------------------------------------------------------- */
body {
  font-family: "Exo", sans-serif;
  color: white;
}

h1 {
  font-size: 3.125em;
  line-height: 1.28em;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
}

a {
  color: white;
}

/* =============================================================================
    Layout Styles Includes
   ========================================================================== */
.container {
  width: 100%;
  background: black;
}

#main {
  width: 100%;
  height: 100%;
}

.mainbg {
  width: 100%;
  height: 100%;
  background: url(../img/home-bg.jpg) repeat-x left top;
  background-size: cover;
}

/* =============================================================================
    Module Styles Includes
   ========================================================================== */
.home {
  background: black;
}

.map {
  width: 100%;
  height: 100%;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

.m-start {
  height: 100%;
}
.m-start .logo {
  width: 40px;
  height: auto;
  margin: 0 auto 0px;
  display: block;
  padding-top: 15%;
}
.m-start .title {
  font-size: 30px;
}
.m-start .copy {
  padding: 10px 50px 20px;
  text-align: center;
}
.m-start .start-button {
  width: 100px;
  height: 100px;
  background: transparent url("../img/start.png") no-repeat 0 0;
  background-size: 100%;
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}

.m-tabs {
  background: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 54px;
  padding: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.m-tabs .tab-map, .m-tabs .tab-timeline {
  width: 50%;
  height: 50px;
  border: 0;
  display: block;
  background: #ffffff;
  text-align: center;
  color: #000;
  float: left;
  line-height: 3;
}
.m-tabs .active {
  background: #00ffd2;
}

.logo {
  display: block;
  width: 57px;
  height: 83px;
  padding-top: 40%;
  margin: 0 auto 20px;
}

.btn {
  display: block;
  width: 20%;
  min-width: 90px;
  max-width: 200px;
  padding: 0 15px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid white;
  font-size: 1.3125em;
  line-height: 1.52381em;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
}

.btn-login {
  background: url(../img/facebook-icon.png) no-repeat 8% 10px;
  padding-left: 30px;
  margin-top: 40%;
}
