.moment{
	width: 100%;
    margin-bottom: 50px;
    display: block;
    text-align: center;
    position: relative;
    min-height: 100px;
    background: url(../img/timeline.jpg) repeat-y center top $color-teal;
}

.location {
	position: absolute;
	top: -35px;
	left: 50%;
	margin-left: -35px;
    width: 70px;
    height: 60px;
    border-radius: 50%;
    background-color: $color-white;
    color: black;
    padding-top: 10px;
    text-transform: uppercase;
    @include adjust-font-size-to(14px);
    line-height: 16px;
}