.moment{
    width: 100%;
    margin-bottom: 50px;
    display: block;
    text-align: center;
    position: relative;
    min-height: 100px;
    background: url(../img/timeline.jpg) repeat-y center top $color-teal;
}

.location {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    width: 60px;
    height: 65px;
    border-radius: 50%;
    background-color: $color-white;
    color: black;
    padding: 15px 10px 0 10px;
    text-transform: uppercase;
    @include adjust-font-size-to(13px);
    line-height: 16px;
}

.activity-time {
    float: left;
    margin-left: 5%;
    margin-top: 20%;
}

.photos {
    display: block;
    float: right;
    margin-right: 5%;
    margin-top: 10%;

    .photo {
        width: 58px;
        height: 58px;
    }
}